#--------------------------------------------------------------------------
# Caddy configuration
# https://caddyserver.com/docs/caddyfile/options
#--------------------------------------------------------------------------

{
  debug
  local_certs
  auto_https disable_redirects
  admin 0.0.0.0:2019
}

#--------------------------------------------------------------------------
# Reverse proxy
# https://caddyserver.com/docs/caddyfile/directives/reverse_proxy
#--------------------------------------------------------------------------

# HTTP site block
<hostname>:80 {
  reverse_proxy <container-name>:<port>
}

# HTTPS site block
<hostname>:443 {
  tls internal
  reverse_proxy <container-name>:<port>
}
